.Header {
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #d9f5ff;
  align-items: center;
  width: 100%;
}
.Logo {
  width: 40px;
  height: 57px;
  display: block;
}
