.Header {
  margin: 0 auto;
  display: flex;
  height: 55px;
  justify-content: space-around;
  background-color: #d9f5ff;
  align-items: center;
}
.Logo {
  display: block;
}
.Title {
  color: #be380d;
}
